html, body {
  overflow: x-hidden;
}
body{
  background-color: #F7F7F7;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #333333;
}
h2, h3, h4, h5, h6 {
 font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
h1 {font-family: Montserrat-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0;
text-shadow: 0 2px 2px #333333;
}
#subhead {
  font-family: Raleway-Light;
  font-size: 26px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 29px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}
p {
  font-family: Raleway-Regular;
  font-size: 18px;
  line-height: 21px;
}
li {
  list-style-type: none;
}

/* Grid */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:: before,
.container:: after {
  content: " ";
  display: table;
}
.container:: after {
  clear: both;
}
.one-half, .one-third {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/* Header */

  header nav .one-half .site-logo img {
    margin-top: 15px;
    margin-left: 190px;
  }
  header nav ul > li {
    list-style-type: none;
    width: 100px;
    font-size: 20px;
    padding: 30px 20px;
    display: inline-block;
  }
  header nav .one-half > ul {
    margin: 0px 0px;
  }
  header .container > .one-half > ul {
    width: 335px;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
  }
  header .container > .one-half > ul > li:first-child {
    order: 2;
    margin: 0px 10px;
  }
  header .container > .one-half > ul > li:nth-child(2) {
    order: 1;
    margin: 0px 15px;
  }
  .container > img {
    width: 80%;
  }
  .container.hero h1 {
    font-size: 2em;
    padding-bottom: 10px;
  }
  .container.hero h1 br {
    display: none;
  }
  .container.hero > #subhead {
    font-size: 1.2em;
    text-align: center;
    word-spacing: -0.5px;
    line-height: 25px;
  }
  .container.hero > a {
    width: 200px;
    font-size: 14px;
    padding: 15px 10px;
    margin: 0px;
  }
  .container.hero > .btn > span {
    font-size: 14px;
  }
  .one-half > ul {
    display: inline;
    text-align: center;
    float: center;
  }
  .benefits > .container {
    padding-top: 30px;
  }
  .benefits > .container br {
    display: none;
  }

/* Media Queries */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  header nav .one-half .site-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header nav ul > li {
    list-style-type: none;
    font-size: 20px;
    padding: 20px 0px;
    display: inline-block;
  }
  header .container > .one-half > ul {
    width: 390px;
    padding: 10px 20px 0px 20px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
  }
  header .container > .one-half > ul > li:first-child {
    order: 2;
  }
  header .container > .one-half > ul > li:nth-child(2) {
    order: 1;
    margin: 0px 0px 10px 0px;
  }
  .container > img {
    width: 70%;
  }
  .container.hero h1 {
    font-size: 2.5em;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .container.hero > #subhead {
    font-size: 1.5em;
    text-align: center;
    word-spacing: -0.5px;
    line-height: 30px;
  }
  .container.hero > a {
    width: 294px;
    font-size: 20px;
    padding: 15px 20px;
  }
  .container.hero > .btn > span {
    font-size: 18px;
  }
  .one-half > ul {
    display: inline;
    text-align: center;
    float: center;
  }
  .benefits > .container {
    padding-top: 30px;
  }
  .benefits > .container br {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  header nav .one-half .site-logo img {
    margin-left: 30px;
    padding-left: 0px;
    margin-top: 15px;
  }
  .container.hero h1 {
    font-size: 3em;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .container.hero > #subhead {
    font-size: 1.5em;
    text-align: center;
    word-spacing: -0.5px;
    line-height: 30px;
  }
  .container.hero > a {
    width: 294px;
    font-size: 20px;
    padding: 15px 20px;
}
  header nav .one-half > ul {
    margin: 0px 10px;
}
  header .container > .one-half > ul {
    width: 335px;
    padding: 0px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
}
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  header nav .one-half .site-logo img {
    margin-left: -180px;
    padding-left: 0px;
  }
  header nav .one-half > ul {
    margin: 0px 10px;
  }
  header .container > .one-half > ul {
    width: 335px;
    padding: 0px 20px;
    display: inline-block;
    margin-right: -200px;
    margin-top: 0;
  }
}

/* Header */

header {
  background: #4F7FB4 url("../images/hero.png") top center no-repeat;
  background: url("../images/hero.png") top center no-repeat, linear-gradient
  (-180deg, rgba(79,127,180,0.25) 0%, rgba(9,63,123,0.39) 55%, rgba(33,119,213,0.43) 85%, #1B5290 100%);
  background-size: cover;
}
header nav {
  padding: 1em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
  font-size: 22px;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background: #DA4C00;
  box-shadow: 0 2px 0 0 rgba(141,49,0,0.50);
  border: 2px solid #DA4C00;
  border-radius: 4px;
}
header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #FFFFFF;
}
header .hero {
  text-align: center;
  display: block;
  position: relative;
}
header .hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 95px 0 0;
}
header .hero p {
font-size: 22px;
line-height: 26px;
font-weight: 100px;
margin: 10px 0 40px;
}
header .hero img {
  display: block;
  margin: 3em auto 0;
}

/* Buttons */
.btn {
background: #DA4C00;
box-shadow: 0 2px 0 0 #8D3100;
border-radius: 4px;
display: inline-block;
width: 294px;
text-align: center;

/* Start Your Free 30-D: */
font-family: Raleway-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
padding: 20px;
text-decoration: none;
}
span {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
}


/* Benefits */

.benefits {
  text-align: center;
  display: block;
  position: relative;
  padding-top: 40px;
}
.benefits h2 {
  font-size: 36px;
  color: #245487;
}
.benefits .container p {
  font-size: 20px;
  line-height: 28px;
}
.benefits ul {
  margin: 0 auto;
  padding: 2em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
  color: #245487;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}
.benefits h3 {
  color: #245487;
  font-size: 32px;
}
.benefits p {
  margin: 0 10px 30px;
}
.benefits-img {
  margin: 50px 0px;
}
.benefits-img img {
  width: 40%;
  display: inline-block;
}
.benefits .btn {
  margin: 30px 0px 40px 0px;
}

/* Testimonials */

.testimonials {
  padding: 3em 0;
}
.testimonials h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color: #245487;
}
.testimonials .container-head p {
  font-size: 20px;
  line-height: 28px;
}
.testimonials .container-head{
  text-align: center;
  margin-bottom: 50px;
}
.testimonials blockquote {
  /* “Collectiv has made: */
font-family: Raleway-Italic;
font-size: 18px;
color: #333333;
position: absolute;
padding-left: 190px;
letter-spacing: 0px;
line-height: 28px;
float: right;
clear: left;
margin: 0px -50px 0px 0px;
}
.testimonials span {
  font-family: Raleway-Regular;
  font-size: 18px;
}
.testimonials .testimonials-img{
display: inline-block;
float: left;
}
.testimonials .name {
}

/* Pricing */

.pricing {
  background: #4F7FB4 url("../images/pricing.png") top center no-repeat;
  background: url("../images/pricing.png") top center no-repeat, linear-gradient
  (-180deg, rgba(79,127,180,0.25) 0%, rgba(9,63,123,0.39) 55%, rgba(33,119,213,0.43) 85%, #1B5290 100%);
  background-size: cover;
  text-align: center;
  padding: 4em 0;
  clear: both;
}
.pricing h2 {
font-family: Montserrat-SemiBold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
}
.pricing p {
  font-family: Raleway-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: normal;
  padding: 10px 0px 50px 0px;
}
pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
pricing ul li {
  list-style-type: none;
}
.box {
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.35);
  min-height: 454px;
  position: relative;
  margin-top: 25px;
  border-radius: 4px;
}
.box.middle {
  min-height: 500px;
  margin-top: 0px;
}
.box h3{
  font-family: Raleway-Bold;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  text-transform: uppercase;
  background: #E2E2E2;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0px -15px 40px;
  padding: 15px 0;
  border-radius: 4px 4px 0 0;
}
.box h4 {
  font-size: 60px;
  font-weight: normal;
  margin: 40px 10px -10px;
  color: #245487;
}
.box h4 span {
font-family: Montserrat-SemiBold;
font-size: 32px;
color: #245487;
letter-spacing: -10px;
text-shadow: 0 1px 2px rgba(0,0,0,0.20);
vertical-align: super;
margin-left: -10px;
}
.box #price-middle {
  font-family: Montserrat-Bold;
}
.box #price-middle span {
  font-family: Montserrat-Bold;
  font-size: 32px;
  color: #245487;
  letter-spacing: -10px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
  vertical-align: super;
  margin-left: -10px;
}
.box #price-middle span.month{
  font-family: "Raleway-Regular", Helvetica, Arial, sans-serif;
  font-weight: 100:400;
  color: #888888;
  font-size: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.box h4 span.month {
  font-family: "Raleway-Regular", Helvetica, Arial, sans-serif;
  font-weight: 100:400;
  color: #888888;
  font-size: 20px;
  letter-spacing: 0;
  vertical-align: middle;
}
.box ul {
  display: inline;
}
.box ul li {
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  line-height: 50px;
}
.pricing-btn {
background: #DA4C00;
box-shadow: 0 2px 0 0 #8D3100;
border-radius: 4px;
display: inline-block;
width: 294px;
text-align: center;
font-family: Raleway-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
padding: 20px;
text-decoration: none;
position: absolute;
bottom: 40px;
left: 10px;
width: 250px;
margin-left: 15px;
}
.container .disclaimer {
font-family: Raleway-Italic;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
text-shadow: 0 2px 4px rgba(0,0,0,0.50);
clear:both;
padding-top: 40px;
padding-bottom: 0px;
}

/* Footer */

footer {
background-color: #4F7FB4;
background-image: linear-gradient(-180deg, rgba(79,127,180,0.25) 0%, rgba(9,63,123,0.39) 55%, rgba(33,119,213,0.43) 85%, #1B5290 100%);
color: #FFFFFF;
height: 150px;
position: relative;
overflow: hidden;
z-index: 0;
}
footer p, footer nav ul {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin: 10px -20px 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .right-footer-block {
background-color: transparent;
}
footer .logo{
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}

@media (min-width: 992px) {
  footer{
    background-color: #4F7FB4;
    background-image: linear-gradient (to left, -180deg, rgba(79,127,180,0.25) 0%, rgba(9,63,123,0.39) 55%, rgba(33,119,213,0.43) 85%, #1B5290 100%);
    height: 100px;
  }
  footer p, footer nav ul {
    padding: 2em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background: #245487;
  }
  footer .logo {
    padding: 2em 0 2em 1.5em;
  }
}

/* DASHBOARD */

.dashboard {
  background: #F7F7F7;
}
.left-nav{
  height: 100%;
  width: 280px;
  color: #FFFFFF;
  position:absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
  -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
  -o-transform: translate(-280px,0); /** Opera **/
  -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav.open {
  display:block;
   width:280px;
   background: #4F7FB4;
   background-image: linear-gradient(-180deg, rgba(79,127,180,0.25) 0%, rgba(9,63,123,0.39) 55%, rgba(33,119,213,0.43) 72%, #1B5290 100%);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
}
.hamburger {
   position:absolute;
   z-index: 1000;
   background:#4F7FB4;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
}
@media (min-width: 992px) {
  .left-nav {
    height: 100vh;
    width: 14.6666667%;
    color: #FFFFFF;
    background: #4F7FB4;
    background-image: linear-gradient(-180deg, rgba(79,127,180,0.25) 0%, rgba(9,63,123,0.39) 55%, rgba(33,119,213,0.43) 72%, #1B5290 100%);
    float: left;
    position: fixed;
    display: block;
    transform: translate(0,0);
      -webkit-transform: translate(0,0); /** Chrome & Safari **/
      -o-transform: translate(0,0); /** Opera **/
      -moz-transform: translate(0,0); /** Firefox **/
}
  .left-nav.open{
    width: 14.66666667%;
    transform: translate(0,0);
      -webkit-transform: translate(0,0); /** Chrome & Safari **/
      -o-transform: translate(0,0); /** Opera **/
      -moz-transform: translate(0,0); /** Firefox **/
 }
  .hamburger {
  display: none;
  }
}
.left-nav .site-logo img {
  width: 80%;
}
.left-nav .site-logo {
  padding: 20px 0px;
  background: #245487;
  display: block;
  text-align: center;
}
.left-nav .items {
  padding: 0 6%;
}
.left-nav .items p {
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  color: #E2E2E2;
  font-size: 14px;
  line-height: 18px;
}
.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
  font-family: Montserrat;
  font-weight: 300;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}
.left-nav .items ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 100;
}
.left-nav .items ul li a i {
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
}
.left-nav .items ul .active {
font-family: Montserrat-ExtraBold;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
}
.left-nav .items ul li a:hover {
  font-weight: bold;
}
.left-nav .items ul li a:active {
  font-weight: bold;
  font-size: 18px;
}

/* CONTENT */

.content {
  padding: 6em 1% 1.5em;
  float: right;
  width: 98%;
  position: relative;
}
.content .header {
  margin: 0 1% 40px 10px;
}
.content .header h1 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0 0 30px;
  font-size: 36px;
  color: #3498DB;
  letter-spacing: 0;
  line-height: 44px;
  float: left;
  display: inline-block;
  text-shadow: none;
}
.content .header h2 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 16px 10px 20px;
  font-size: 20px;
  color: #686868;
  letter-spacing: 0;
  line-height: 24px;
  float: left;
  display: inline-block;
}
.content .header i {
  color: #686868
  font-family: FontAwesome;
  font-size: 24px;
  color: #686868;
  letter-spacing: 0;
  margin-top: 15px;
  float: left;
}
.content .header .right-header {
  display: inline;
}
.content .header .right-header li {
}
.content .header .search-box-wrapper {
  display: inline-flex;
  float: left;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 0px;
}
.content .header .search-box-input {
height: 1em;
width: 20em;
background: #FFFFFF;
border: 0.05em solid #A4A4A4;
box-shadow: 0 1px 4px 0 rgba(164,164,164,0.50);
border-radius: 4px 0px 0px 4px;
padding: 0.5em;
outline: 0;
/* Search with Keywords: */
font-family: Montserrat-Regular;
font-size: 16px;
color: #A4A4A4;
letter-spacing: 0;
opacity: 0.5;
letter-spacing: 0.25px;
}
.content .header .search-box-input:hover {
  border-color: #3498DB;
  border-width: 1.5px;
  opacity: 1;
}
.content .header .search-box-input:focus {
  border-color: #3498DB;
}
.content .header .search-box-button {
  display: inline-flex;
  height: 2.15em;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0 1px 4px 0 rgba(164,164,164,0.50);
  border: 0.05em solid #A4A4A4;
  background: #E2E2E2;
  margin-right: 0em;
  cursor: pointer;
  outline: 0;
  opacity: 0.5;
}
.content .header .search-box-button:hover {
  border-color: #3498DB;
  border-width: 1.5px;
  background: #E2E2E2;
  opacity: 1;
}
.content .header .search-box-button:focus {
  border-color: #3498DB;
  background: #E2E2E2;
  opacity: 1;
}
.content .header .search-box-button i {
  padding: 0px;
  margin: 0px 2px;
}
.content .header .btn {
  width: 5em;
  float: left;
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
}
.content .header .menu {
  float: left;
  margin: -15px 0px 0px 20px;
}
.content .header .menu a {
  margin-left: 20px;
}
.content .header .settings-menu img {
  margin-left: 35px;
  margin-top: -18px;
  height: 50px;
  width: 50px;
}

/* CONTENT */

.content-item {
  width: 96%;
  margin: 0 2% 25px;
  float: left;
  display: block;
}
.item-box {
  display: block;
  height: 230px;
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.content .container {
  margin-left: 30px;
}

/* Larger Mobile Devices */
@media (min-width: 460px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content {
    width: 46%;
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
}
/* Tablets */
@media (min-width: 768px) {
  .content {
    padding: 1.5em 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content > .container {
    width: 700px;
  }
  .content-item {
    width: 31.33333%;
    margin: 0 1% 25px;
  }
}
/* Laptops and Desktops */
@media (min-width: 992px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 83.33333333%;
    position: relative;
   }
   .content > .container {
     width: auto;
   }
   .content-item {
     width: 23%;
     margin: 0 1% 25px;
   }
}
.item-box > img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.item-box .screenshot img {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 100px;
  left: 70px;
  bottom: 40px;
}
.item-box h2 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  margin: 0;
}
.item-box h2 a {
  color: #3498DB;
  text-decoration: none;
}
.item-box h2 img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.item-box p {
  font-size: 14px;
  color: #333333;
  line-height: 16px;
  margin: 5px 0 0;
}
